body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}

.nav{
    color: white;
    text-decoration: none;
}

.intro {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    color: white;
    padding-top: 64px;
    padding-bottom: 64px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 6px 24px;
    border: none;
    border-radius: 5px;
}

.intro img{
    width: 300px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 32px;
}

.rand-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.img-text {
    display: flex;
    text-align: center;
}

.card img {
    width: 200px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 64px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quotee {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.sign-up {

}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.header, .intro, .rand-info, .sign-up, .footer {
    padding-left: 144px;
    padding-right: 144px;
}
